.block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding: 3px;
  border-radius: 5%;
  cursor: pointer;
}

.button:hover {
  border-bottom: 2px solid gray;
}
